<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/header.css">
  <link rel="stylesheet" href="../public/css/footer.css">
  <title>Carrito de compra</title>
</head>
<body>
  <header>
    <div class="header-top">
      <img
        class="header_img"
        src="../public/img/logo_pczone.png"
        alt="Logo PC ZONE"
      />
      <input type="text" placeholder="Buscar producto..." />
      <a href="">🛒</a>
    </div>
    <nav class="header-bottom">
      <ul class="nav-list">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./pcArmadas.html">PC Armadas</a></li>
        <li><a href="./monitores.html">Monitores</a></li>
        <li><a href="./perifericos.html">Periféricos</a></li>
        <li><a href="./sillasGamer.html">Sillas Gamer</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <footer>
    <div class="detalles">
      <img src="../public/img/logo_pczone.png" alt="logo pc zone">
      <ul class="detalles-list">
        <li>La mejor experiencia en PC</li>
        <li>info@pczone.com</li>
        <li>Av, Ada Elfelin 5678 [GBA]</li>
        <li>L a V de 09:00 a 19:00 HS</li>
      </ul>
    </div>
    <div class="detalles">
      <h3>Categorías</h3>
      <ul class="detalles-list">
        <li><a href="">Monitores</a></li>
        <li><a href="">PC Armadas</a></li>
        <li><a href="">Periféricos</a></li>
        <li><a href="">Sillas Gamer</a></li>
      </ul>
    </div>
    <div class="detalles">
      <h3>Marcas</h3>
      <ul class="detalles-list">
        <li><a href="">Samsung</a></li>
        <li><a href="">Phillips</a></li>
        <li><a href="">Red Dragon</a></li>
        <li><a href="">T-Dagger</a></li>
        <li><a href="">Corsai</a></li>
      </ul>
    </div>
    <div class="detalles">
      <h3>Ayuda</h3>
      <ul class="detalles-list">
        <li><a href=""><span class="material-symbols-outlined">
          settings_phone
          </span>(011) 1234-5678</a></li>
        <li><a href=""><span class="material-symbols-outlined">
          settings_phone
          </span>(011) 1234-5678</a></li>
        <li><a href=""><span class="material-symbols-outlined">
          mail
          </span>info@pczone.com</a></li>
        <li><a href=""><span class="material-symbols-outlined">
          sync_alt
          </span>Garantía y Devoluciones</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>